<?xml version="1.0"?>
<launch>
	<!-- Simple test launch for octomap_server with LiDAR input -->
	<!-- This is a minimal configuration to debug point cloud insertion -->
	
	<!-- Static TF: base -> laser_livox (ensure transform is available) -->
	<node pkg="tf" type="static_transform_publisher" name="base_to_lidar" 
	      args="0 0 0 0 0 0 base laser_livox 100" />
	
	<!-- Octomap Server Node -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server_test" 
	      output="screen">
		<!-- Basic parameters -->
		<param name="resolution" value="0.1" />
		<param name="frame_id" type="string" value="odom" />
		
		<!-- Sensor model -->
		<param name="sensor_model/max_range" value="100.0" />
		<param name="sensor_model/min_range" value="0.0" />
		<param name="sensor_model/hit" value="0.7" />
		<param name="sensor_model/miss" value="0.4" />
		<param name="sensor_model/min" value="0.12" />
		<param name="sensor_model/max" value="0.97" />
		
		<!-- Point cloud input filters (very permissive to debug) -->
		<param name="pointcloud_min_x" value="-10.0" />
		<param name="pointcloud_max_x" value="10.0" />
		<param name="pointcloud_min_y" value="-10.0" />
		<param name="pointcloud_max_y" value="10.0" />
		<param name="pointcloud_min_z" value="0.1" />
		<param name="pointcloud_max_z" value="1.0" />
		
		<!-- Publishing -->
		<param name="publish_free_space" value="true" />
		<param name="latch" value="true" />
		
		<!-- Obstacle dilation parameters -->
		<param name="dilate_obstacles" value="true" />
		<param name="dilation_radius" value="3" />
		
		<!-- Remap input cloud topic -->
		<remap from="cloud_in" to="/scan" />
	</node>
	
</launch>
